* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #000;
	color: #fff;
}

h1,
h2 {
	font-family: 'Osake';
}

ul {
	list-style: none;
}

.link {
	text-decoration: none;
}

h2 {
	font-style: normal;
	font-weight: 400;
	font-size: 80px;
	line-height: 110px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #ffffff;
}
